body {
  background-color: steelblue;
  padding-left: 300px;
}

.profile {
  max-height: 200px !important;
  height: auto !important;
  width: auto !important;
  margin: auto !important;
}

.name {
  font-family: "Cinzel", sans-serif !important;
  font-weight: 900 !important;
}

.sidenav-clicked {
  background-color: steelblue;
}

@media only screen and (max-width: 992px) {
  body {
    padding-left: 0;
  }
}
