body {
  padding-left: 300px;
}

blockquote {
  font-size: 2rem;
  font-family: "Righteous", cursive;
  border-color: #dd2c00;
}

.profile {
  max-height: 200px;
  height: auto;
  width: auto;
  margin: auto;
  border-radius: 50%;
  display: block;
}

.name {
  font-family: "Permanent Marker", cursive !important;
  font-size: 25px !important;
}

.email {
  font-family: "Righteous", cursive !important;
}

.list-padding {
  padding-left: 1rem;
}

.card-title {
  font-family: "Righteous", cursive;
}

.work-logo {
  max-height: 140px;
  width: auto;
  margin: auto;
}

.edu-logo {
  padding: 1rem;
}

.card-min {
  min-height: 300px;
}

.tile {
  height: 150px;
  width: 150px;
  padding: 10px;
}

.pt0 {
  padding-top: 0px !important;
}

.sidenav-clicked {
  background-color: #dd2c00;
}

.sidenav li a:hover {
  background-color: #dd2c0070;
}

@media only screen and (max-width: 500px) {
  .tile {
    height: 6rem;
    width: 6rem;
  }
}

@media only screen and (max-width: 992px) {
  body {
    padding-left: 0;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1050px) {
  .card-min {
    min-height: 570px;
  }
}

@media only screen and (min-width: 1050px) and (max-width: 1155px) {
  .card-min {
    min-height: 510px;
  }
}

@media only screen and (min-width: 1155px) and (max-width: 1600px) {
  .card-min {
    min-height: 452px;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1897px) {
  .card-min {
    min-height: 408px;
  }
}
